Flask
Flask-CORS
Flask-SQLAlchemy
Flask-JWT-Extended
Werkzeug
gunicorn
PyMySQL
cryptography
psycopg[binary]
psycopg2-binary
scikit-learn
numpy
Pillow
pytesseract
textblob
reportlab
requests
beautifulsoup4
python-docx
PyPDF2
newspaper3k
lxml_html_clean
python-dotenv
